html {
    background-color: #001D3D;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

/* Flexbox header */
header {
    display: flex;
    justify-content: space-between; /* logo on left, nav + button on right */
    align-items: center;            
    padding: 10px 20px;
    position: sticky;
    top: 0;
}

/* Logo */
#logo {
    color: #DAC1F1;
    font-weight: 900;
    margin: 0;
}

/* Nav container */
nav {
    display: flex;
    align-items: center;
    gap: 2w;
}

/* Nav links */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px;
}

nav a {
    color: #EDEDED;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
}

nav a:hover {
    color: #DAC1F1;
}

.active {
    color: #DAC1F1;
}

nav button{
    margin-left: 20px;
}

/* Button */
button {
    background: #DAC1F1;
    border: 1px solid #DAC1F1;
    font-family: 'Poppins';
    border-radius: 20px;
    padding: 6px 20px;
    cursor: pointer;
    font-weight: 800;
    font-size: 16px;
    color: #001D3D;
    transition: 0.3s;
    margin: 5px;
}

button:hover {
    background: transparent;
    color: #DAC1F1;
}

.homepage h1{
    font-size: 70px; 
    color: #DAC1F1;
}


.homepage {
    display: flex;
    width: 99vw;
    height: 88vh;
    
}

/* Info section */
#info {
    flex: 1;    
    color: #EDEDED;
    padding-left: 2vw; 
    display: flex;
    flex-direction: column;      /* stack text vertically */
    justify-content: center;     /* vertical centering */
    line-height: 0.5;
}

#graphic {
    flex: 1;                     /* takes other half */ 
    display: flex;               /* make it a flex container */
    justify-content: center;     /* center horizontally */
    align-items: center;         /* center vertically */
    padding: 20px;               /* optional padding */
}

#code {
    color: #818181;
    padding: 20px;
    border-radius: 10px;
     border: 2px solid rgba(218, 193, 241, 0.5);
    font-family: 'Courier New', Courier, monospace; /* code-style font */
    white-space: pre-line; /* preserves line breaks */
}


@keyframes blink {
    50% { opacity: 0; }
}

#aboutme{
    padding-left: 2vw;
    background-color:deeppink;
}

#card{
    background-color: darkseagreen;
}